* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, sans-serif;  */
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.wrapper-class {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

/* header starts here */
header {
  background: #ffffff;
  padding: 25px 0px;
  display: flex;
  align-items: center;
  width: 100%;
}
header nav {
  display: flex;
  align-items: center;
  width: 100%;
}
.logo {
  font-size: 35px;
  font-weight: bolder;
  color: #02bed7;
  /* letter-spacing: 30px; */
  /* border: 2px solid black; */
}
nav ul {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  color: #6e6c6ce2;
}
nav ul li a:hover {
  color: black;
}
.sign-in,
.sign-up {
  background: #fff;
  color: #6e6c6ce2;
  border: none;
  padding: 10px 20px;
  font-size: 26px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}
.sign-in:hover,
.sign-up:hover {
  background: #02bed7;
  color: white;
}
/* header ends here */
/* banner section starts here */
.hero-section {
  position: relative;
  background: url("../assets/images/firstexpimg.jpg") no-repeat center
    center/cover;
  height: 800px;
  width: 100%;
  margin: 10px auto;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.hero-content {
  position: relative;
  max-width: 80%;
  padding-bottom: 300px;
}
.hero-content h1 {
  font-size: 70px;
  font-weight: bold;
}
.hero-content p {
  font-size: 21px;
  margin-top: 15px;
}
.search-bar {
  position: absolute;
  bottom: -50px;
  width: 80%;
  background: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  text-align: left;
  z-index: 3;
}
.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.tab {
  border: none;
  background: none;
  font-size: 23px;
  padding: 10px;
  cursor: pointer;
  color: gray;
}
.tab:hover {
  font-weight: bold;
  color: black;
  border-bottom: 2px solid black;
}
.search-fields {
  display: flex;
  gap: 15px;
  align-items: center;
}
.field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.field label {
  font-size: 20px;
  color: gray;
  margin-bottom: 5px;
}
.field input,
.field select {
  color: rgb(61, 60, 60);
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 100%;
  font-size: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-family: 'Poppins', sans-serif;
}

.input-box i {
  margin-right: 8px;
  color: #02bed7;
  font-size: 18px;
}

.input-box select,
.input-box input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  width: 100%;
}
.search-fields {
  padding: 10px 10px 10px 10px;
}
.custom-line {
  width: 98%;  
  height: 2px; 
  background: rgb(228, 226, 226); 
  margin: 3px auto; 
}

.search-btn {
  font-size: 20px;
  background: #02bed7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px; 
  justify-content: center;
  margin-top: 27px;
  height: 65px;
  width: 600px;
}

.search-btn i {
  font-size: 25px;
}

/* banner section ends here */
/*popular places section starts here*/
.secondouter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.outer_txt_first {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.outer_txt_first h1 {
  font-size: 55px;
  font-weight: 800;
  color: #333;
}
.outer_txt_first p {
  font-size: 27px;
  color: #949191;
}
.outer_txt_second {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: end;
  width: 50%;
  text-align: left;
  padding-left: 50px;
  color: #949191;
  line-height: 30px;
}
.outer_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 00px;
  font-size: large;
  font-weight: bolder;
  width: 100%;
}

.outer_txt {
  padding-top: 50px;
}
.outer_txt_second p {
  font-size: 18px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.first,
.second {
  width: 25%;
}
.popular_places {
  width: 100%;
  height: 470px;
  display: flex;
  padding-top: 40px;
}
.place-info {
  padding-top: 20px;
  font-size: 17px;
  justify-items: start;
  color: #313131;
}
.place-info i {
  color: #02bed7;
  margin-right: 10px;
}
.places-grid {
  display: flex;
  text-align: center;
  gap: 25px;
}
.place-card {
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
#place-card-img {
  height: 85%;
  width: 95%;
  border-radius: 20px;
  align-items: start;
}
.discount-badge {
  position: absolute;
  top: 18px;
  right: 35px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
}
/*popular places section ends here*/
/* travel section starts here */
.third {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-between;
}
.text-content {
  flex: 1;
  padding-right: 20px;
}
.demo {
  font-size: 50px;
  font-weight: bolder;
  color: #333;
}
.sub-heading {
  font-size: 26px;
  color: #666;
  padding-top: 10px;
}
.info-box {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
}
.info-box p {
  color: #666;
  padding-top: 30px;
}
.info-box h3 {
  padding-top: 30px;
  font-size: 30px;
}
.number {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #007bff;
  padding: 5px 10px;
  border-radius: 8px;
}
#numberone {
  background: #04c9a8;
}
#numbertwo {
  background: #1932d6;
}
#numberthree {
  background: #b6cd0c;
}
.explore-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #02bed7;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.image-section {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit: cover;
  object-fit: center;
}
.image-section img {
  width: 70%;
  border-radius: 30px;
  height: 880px;
}
.review {
  position: absolute;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 18px;
  height: 70px;
}
.rev{
  display: flex;
  flex-direction: column;
}
.review img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 8px;
}
.review-1 {
  top: 10%;
  left: 0%;
}

.review-2 {
  top: 40%;
  right: 0%;
}

.review-3 {
  bottom: 10%;
  left: 0%;
}
.beforethird {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 0px;
}
/* travel section ends here */

/*explore more section starts here */
.explore {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.one {
  display: flex;
}
.filters {
 
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  
}
.filters button {
  border: none;
  background: #edecec;
  padding: 15px 25px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
}
.filter_flex_bttn {
  width: 28%;
  display: flex;
  justify-content: end;
}
.active:hover {
  background: black;
  color: white;
}
.filter-btn:hover {
  background: black;
  color: white;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  padding-top: 20px;
}
.card {
  background: white;
  border-radius: 10px;
  text-align: left;
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.1);
}
.imgdiv img {
  height:100%;
  width: 100%;
  border-radius: 30px;
}
.card h3 {
  font-size: 25px;
}
.card p i{
  font-size: 25px;
  color: #02bed7;
}
.infodivleft p{
color: #666;
}
.card span {
  font-weight: bold;
  color: #333;
  font-size: 19px;
}
.infodiv{
  display:flex;
}
.infodivleft{
  display: flex;
  justify-content: left;
  align-items: start;
}
.infodivright{
  display: flex;
  justify-content: left;
  align-items: center;
}
.infodiv div{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-more {
  border: 2px solid gray;
  background: white;
  color: black;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 20px;
  font-size: 20px;
  transition: transform 0.3s ease;
}
.show-more:hover {
  transform: scale(1.1);
}
.imgdiv {
  height: 350px;
  width: 450px;
  position: relative;
}
.rating {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.show-more-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* explore more section ends here */

/* adventure section starts here  */
.fifth {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifthouter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.h1div {
  font-size: 40px;
  padding-bottom: 10px;
}
.pdiv {
  font-size: 30px;
  color: #666;
}
.fifthcontainer {
  display: flex;
  justify-content: space-around;
  height: 400px;
  padding-top: 50px;
  width: 113%;
}
.fcard {
  height: 250px;
  width: 250px;
  padding: 10px;
  border: 3px dashed #d4d2d2;
  position: relative;
}
.fcard p {
  font-size: 20px;
  display: flex;
  justify-content: center;
  color: #666;
}
.stamp{
  position: absolute;
  border: 2px solid black;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  top: -40px;
  left: -40px
   
}
.stamp img{
  height: 110%;
  width: 100%;

  
}
.fimg {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  display: flex;
  position: relative;
}
.fimg img {
  width: 100%;
}
/* adventure section ends here  */

/* book ticket section starts here */
.sixthcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  border: 4px solid b;
}
.booknow {
  font-size: 30px;
}
.booknowbttn {
  color: white;
  background-color: #02bed7;
  border-radius: 12px;
  font-size: 24px;
  border: none;
  padding: 10px;
}
.divvid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.vid {
  border-radius: 50px;
  width: 100%;
}
/* footer  section starts here */
.footer {
  display: flex;
  border-top:2px solid #dfdede;
  padding-bottom: 50px;
}
.secondsection h2{
  color: #484747;
}
.firstsection{
  width: 25%;
  padding-top:50px;
}
.firstsection_div{
  display: flex;
  flex-direction: column;
  gap:20px;
}
.firstsection_div p{
  color: #555;
  font-size: 17px;
  font-weight: bold;
}
.secondsection{
  display: flex;
  width: 75%;
  padding-top:50px;
  justify-content: space-between;
}
.social-icons{
display: flex;
flex-direction: row;
gap: 40px;
}
.footer ul {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
  font-weight: bold;
}
.social-icons a i{
  color: #02bed7;
  font-size: 25px;
}
.footer ul li a:hover {
  color: #02bed7;
}
.subscribe:hover{
  color: #02bed7;
}
.new{
  display: flex;
  flex-direction: column;
  gap: 25px;

}
.newsletter {
  position: relative;
}
.newsletter input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  border:1px solid #d0cfcf;
}
.newsletter button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}
.newsletter button i {
  font-size: 30px;
  color: #02bed7;
}
.footer ul li {
  font-size: 40px;
} .subscribe{
  color: #555;
  font-size: 20px;
  font-weight: bold;
}
/* footer section ends here */



/* media quaries for 425px */
@media screen and (min-width:425px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif;  */
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }
  
  .wrapper-class {
    width: 100%;
    max-width: 1600px;
    margin: auto;
  }
  
  /* header starts here */
  header {
    background: #ffffff;
    padding: 25px 0px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  header nav {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .logo {
    font-size: 35px;
    font-weight: bolder;
    color: #02bed7;
    /* letter-spacing: 30px; */
    /* border: 2px solid black; */
  }
  nav ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #6e6c6ce2;
  }
  nav ul li a:hover {
    color: black;
  }
  .sign-in,
  .sign-up {
    background: #fff;
    color: #6e6c6ce2;
    border: none;
    padding: 10px 20px;
    font-size: 26px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
  }
  .sign-in:hover,
  .sign-up:hover {
    background: #02bed7;
    color: white;
  }
  /* header ends here */
  /* banner section starts here */
  .hero-section {
    position: relative;
    background: url("../assets/images/firstexpimg.jpg") no-repeat center
      center/cover;
    height: 800px;
    width: 100%;
    margin: 10px auto;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .hero-content {
    position: relative;
    max-width: 80%;
    padding-bottom: 300px;
  }
  .hero-content h1 {
    font-size: 70px;
    font-weight: bold;
  }
  .hero-content p {
    font-size: 21px;
    margin-top: 15px;
  }
  .search-bar {
    position: absolute;
    bottom: -50px;
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    z-index: 3;
  }
  .tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }
  .tab {
    border: none;
    background: none;
    font-size: 23px;
    padding: 10px;
    cursor: pointer;
    color: gray;
  }
  .tab:hover {
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black;
  }
  .search-fields {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .field label {
    font-size: 20px;
    color: gray;
    margin-bottom: 5px;
  }
  .field input,
  .field select {
    color: rgb(61, 60, 60);
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
  }
  
  .input-box {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
  }
  
  .input-box i {
    margin-right: 8px;
    color: #02bed7;
    font-size: 18px;
  }
  
  .input-box select,
  .input-box input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
    width: 100%;
  }
  .search-fields {
    padding: 10px 10px 10px 10px;
  }
  .custom-line {
    width: 98%;  
    height: 2px; 
    background: rgb(228, 226, 226); 
    margin: 3px auto; 
  }
  
  .search-btn {
    font-size: 20px;
    background: #02bed7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px; 
    justify-content: center;
    margin-top: 27px;
    height: 65px;
    width: 600px;
  }
  
  .search-btn i {
    font-size: 25px;
  }
  
  /* banner section ends here */
  /*popular places section starts here*/
  .secondouter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .outer_txt_first {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .outer_txt_first h1 {
    font-size: 55px;
    font-weight: 800;
    color: #333;
  }
  .outer_txt_first p {
    font-size: 27px;
    color: #949191;
  }
  .outer_txt_second {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: end;
    width: 50%;
    text-align: left;
    padding-left: 50px;
    color: #949191;
    line-height: 30px;
  }
  .outer_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 00px;
    font-size: large;
    font-weight: bolder;
    width: 100%;
  }
  
  .outer_txt {
    padding-top: 50px;
  }
  .outer_txt_second p {
    font-size: 18px;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .first,
  .second {
    width: 25%;
  }
  .popular_places {
    width: 100%;
    height: 470px;
    display: flex;
    padding-top: 40px;
  }
  .place-info {
    padding-top: 20px;
    font-size: 17px;
    justify-items: start;
    color: #313131;
  }
  .place-info i {
    color: #02bed7;
    margin-right: 10px;
  }
  .places-grid {
    display: flex;
    text-align: center;
    gap: 25px;
  }
  .place-card {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #place-card-img {
    height: 85%;
    width: 95%;
    border-radius: 20px;
    align-items: start;
  }
  .discount-badge {
    position: absolute;
    top: 18px;
    right: 35px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 12px;
  }
  /*popular places section ends here*/
  /* travel section starts here */
  .third {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;
  }
  .text-content {
    flex: 1;
    padding-right: 20px;
  }
  .demo {
    font-size: 50px;
    font-weight: bolder;
    color: #333;
  }
  .sub-heading {
    font-size: 26px;
    color: #666;
    padding-top: 10px;
  }
  .info-box {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  .info-box p {
    color: #666;
    padding-top: 30px;
  }
  .info-box h3 {
    padding-top: 30px;
    font-size: 30px;
  }
  .number {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #007bff;
    padding: 5px 10px;
    border-radius: 8px;
  }
  #numberone {
    background: #04c9a8;
  }
  #numbertwo {
    background: #1932d6;
  }
  #numberthree {
    background: #b6cd0c;
  }
  .explore-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #02bed7;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .image-section {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;
    object-fit: center;
  }
  .image-section img {
    width: 70%;
    border-radius: 30px;
    height: 880px;
  }
  .review {
    position: absolute;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 18px;
    height: 70px;
  }
  .rev{
    display: flex;
    flex-direction: column;
  }
  .review img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 8px;
  }
  .review-1 {
    top: 10%;
    left: 0%;
  }
  
  .review-2 {
    top: 40%;
    right: 0%;
  }
  
  .review-3 {
    bottom: 10%;
    left: 0%;
  }
  .beforethird {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
  }
  /* travel section ends here */
  
  /*explore more section starts here */
  .explore {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .one {
    display: flex;
  }
  .filters {
   
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    
  }
  .filters button {
    border: none;
    background: #edecec;
    padding: 15px 25px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 20px;
  }
  .filter_flex_bttn {
    width: 28%;
    display: flex;
    justify-content: end;
  }
  .active:hover {
    background: black;
    color: white;
  }
  .filter-btn:hover {
    background: black;
    color: white;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    padding-top: 20px;
  }
  .card {
    background: white;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.2s ease;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .imgdiv img {
    height:100%;
    width: 100%;
    border-radius: 30px;
  }
  .card h3 {
    font-size: 25px;
  }
  .card p i{
    font-size: 25px;
    color: #02bed7;
  }
  .infodivleft p{
  color: #666;
  }
  .card span {
    font-weight: bold;
    color: #333;
    font-size: 19px;
  }
  .infodiv{
    display:flex;
  }
  .infodivleft{
    display: flex;
    justify-content: left;
    align-items: start;
  }
  .infodivright{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .infodiv div{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .show-more {
    border: 2px solid gray;
    background: white;
    color: black;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 20px;
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  .show-more:hover {
    transform: scale(1.1);
  }
  .imgdiv {
    height: 350px;
    width: 450px;
    position: relative;
  }
  .rating {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .show-more-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* explore more section ends here */
  
  /* adventure section starts here  */
  .fifth {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fifthouter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .h1div {
    font-size: 40px;
    padding-bottom: 10px;
  }
  .pdiv {
    font-size: 30px;
    color: #666;
  }
  .fifthcontainer {
    display: flex;
    justify-content: space-around;
    height: 400px;
    padding-top: 50px;
    width: 113%;
  }
  .fcard {
    height: 250px;
    width: 250px;
    padding: 10px;
    border: 3px dashed #d4d2d2;
    position: relative;
  }
  .fcard p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #666;
  }
  .stamp{
    position: absolute;
    border: 2px solid black;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: -40px;
    left: -40px
     
  }
  .stamp img{
    height: 110%;
    width: 100%;
  
    
  }
  .fimg {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    position: relative;
  }
  .fimg img {
    width: 100%;
  }
  /* adventure section ends here  */
  
  /* book ticket section starts here */
  .sixthcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    border: 4px solid b;
  }
  .booknow {
    font-size: 30px;
  }
  .booknowbttn {
    color: white;
    background-color: #02bed7;
    border-radius: 12px;
    font-size: 24px;
    border: none;
    padding: 10px;
  }
  .divvid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  .vid {
    border-radius: 50px;
    width: 100%;
  }
  /* footer  section starts here */
  .footer {
    display: flex;
    border-top:2px solid #dfdede;
    padding-bottom: 50px;
  }
  .secondsection h2{
    color: #484747;
  }
  .firstsection{
    width: 25%;
    padding-top:50px;
  }
  .firstsection_div{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .firstsection_div p{
    color: #555;
    font-size: 17px;
    font-weight: bold;
  }
  .secondsection{
    display: flex;
    width: 75%;
    padding-top:50px;
    justify-content: space-between;
  }
  .social-icons{
  display: flex;
  flex-direction: row;
  gap: 40px;
  }
  .footer ul {
    list-style: none;
  }
  .footer ul li a {
    text-decoration: none;
    color: #555;
    font-size: 20px;
    font-weight: bold;
  }
  .social-icons a i{
    color: #02bed7;
    font-size: 25px;
  }
  .footer ul li a:hover {
    color: #02bed7;
  }
  .subscribe:hover{
    color: #02bed7;
  }
  .new{
    display: flex;
    flex-direction: column;
    gap: 25px;
  
  }
  .newsletter {
    position: relative;
  }
  .newsletter input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    border:1px solid #d0cfcf;
  }
  .newsletter button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
  }
  .newsletter button i {
    font-size: 30px;
    color: #02bed7;
  }
  .footer ul li {
    font-size: 40px;
  } .subscribe{
    color: #555;
    font-size: 20px;
    font-weight: bold;
  }
  /* footer section ends here */
  
  
}